<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Pickup Calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-pickup-call-card status="hold" updateAt="25-05-2022 16:20" createdAt="23-05-2022" notes="we have two bags that are full one with plastic and other with glass"></app-pickup-call-card>

  <app-pickup-call-card status="processing" updateAt="26-05-2022  16:20" createdAt="24-05-2022" notes="we have two bags that are "></app-pickup-call-card>

  <app-pickup-call-card status="finished" updateAt="27-05-2022  16:20" createdAt="25-05-2022" notes="we have  one with plastic and other with glass" value="15,000"></app-pickup-call-card>

</ion-content>
